
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <style>
        body {
            height: 100vh;
        }

        header {
            background-color: #FFB6C1;
        }

        .nav {
            height: 60px
        }

        a {
            text-decoration: none;
            padding: 7px 15px;
            background: #FFFFF0;
            border-radius: 5px;
            color: #FFB6C1;
            font-size: 18px;
            font-weight: 600;
            transition: all 0.4s ease;
        }

            a:hover {
                color: #FFB6C1;
                opacity: 0.7;
            }

        .links a {
            margin: 0 15px;
        }

        main {
            background: #FFFFF0;
            position: absolute;
            width: 100%;
            top: 60px;
            bottom: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 150px;
            font-weight: 800;
            background: linear-gradient(135deg,#5335cf 0%,#de0052 25%,#f66e48 50%,#de005e 75%,#5335cf 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-size: 400%;
            animation: animate 10s linear infinite;
            text-transform: uppercase;
        }

        footer {
            height: 60px;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            color: #FFB6C1;
            font-size: 18px;
            font-weight: 800;
            margin-left: 20px;
        }
    </style>
</head>
<body>
    <header>
        <nav class="d-flex justify-content-around align-items-center nav">
            <div class="logo">
                <a href="/Students/Create">Create</a>
            </div>
            <div class="links">
                <a href="/Students/GetAll">GetAll</a>
                <a href="/Students/Delete">Delete</a>
                <a href="/Students/Update">Update</a>
            </div>
        </nav>
    </header>
    <main>Create</main>
    <footer> MVC Task One, Lara Samara </footer>
</body>
</html>
